<!DOCTYPE html>
<html>
  <head>
    <title>Brain Brawl</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <input type="button" value="Home page" onclick="window.location.href='/'" />
    <h1>login</h1>
  </body>
  <center>
    <form method="POST" action="/login">
      <label><strong>Enter a username</strong> </label><br />
      <input class="box" type="text" placeholder="Username" /><br />

      <label><strong>Enter a password</strong> </label><br />
      <input class="box" type="text" placeholder="Password" /><br />

      <button type="Submit" class="btn">Submit</button>
    </form>
  </center>
</html>
