<!DOCTYPE html>
<html>
  <head>
    <title>Brain Brawl</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <input type="button" value="Home page" onclick="window.location.href='/'" />
    <h1>login</h1>
  </body>
  <center>
<form method="POST" action="/login.html">
  <label><strong>Enter a username</strong> </label><br />
  <input class="box" type="text" name="UserName" placeholder="Username" /><br />

  <label><strong>Enter a password</strong> </label><br />
  <input class="box" type="text" name="Password" placeholder="Password" /><br />

  <button type="submit" class="btn">Submit</button>
</form>
  </center>
</html>
