<!DOCTYPE html>
<html>
  <head>
    <title>Hello, World!</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <input
      type="button"
      value="Sign up"
      onclick="window.location.href='/signup.html'"
    />
    <input
      type="button"
      value="home"
      onclick="window.location.href='/home.html'"
    />
    <input
      type="button"
      value="Log in"
      onclick="window.location.href='/login.html'"
    />
    <h1>
      Brain
      <img
        src="{{ url_for('static', filename='brain.png') }}"
        alt="Brain"
        style="height: 50px; vertical-align: middle"
      />Brawl
    </h1>
    <p>
      Welcome! to the one and only competitiive study application which allows
      you to <strong>battle</strong> your friends, aswell as
      <strong>inviting</strong> your friends to join in planned study group
      which involve specific subjetcs and directed learning.
    </p>
    <p>
      This intergrative learning system provides students with a competitve
      enviroment to push and motivate their studys while also being a way for
      students to devlope a deeper understanding of their subjects.
    </p>
  </body>
</html>
